.loginBtn{
   background-color:rgb(255, 255, 255);
    border-radius: 10px;
    border:1px solid rgb(111, 5, 250);
    width: 200px;
    height: 30px;
}
.loginBtn img{
    width: 15px;
}
.btnName{
    margin: 30px;
}
.login{
    box-shadow: 5px 5px 10px gray;
    margin-left: 300px;
    margin-top: 100px;
    width: 500px;
    text-align: center;
    height: 150px;
    padding: 30px;
    background-color: orangered;
    color: white;
}