.productimg img{
        width: 200px;
        background-color: saddlebrown;
 }
 .product{
    border: solid 2px rgb(0, 0, 0);
    margin: 20px;
    width:250px;
    height: 320px;
 }
 .productName{
   
   width: 60px;
    margin-left: 15px;
    
    
 }
 .orderbtn{
    margin-left: 95px;
   margin-top: 70px;
     width: 80px;
     height: 35px;
     
    
 }
 .namebtn{
  display: flex;
  background-color: rgb(19, 60, 92);
  color: aliceblue;
 }
 .name{
   
   }

.price{
   
}